<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href= "/css/main.css">
    <title>Real-Estate</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="nav-title">
                    BLANK
                </div>
                <div class="toggle-menu">
                    <div class="bar"></div>
                </div>
                <div class="navbar-links">
                    <ul class="navbar-items">
                        <li class="navbar-item">
                            <a href="/Buy" class="navbar-link">Buy</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/Sell" class="navbar-link">Sell</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/Rent" class="navbar-link">Rent</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/Property-management" class="navbar-link">Property-management</a>
                        </li>
                        <li class="navbar-item btn">
                            <a href="/Register" class="navbar-link">Register</a>
                        </li>
                        <li class="navbar-item btn">
                            <a href="/log-in" class="navbar-link">Log In</a>
                        </li>
                    </ul>
            </div>
            
        </nav>
    </header>
