<div class="listings-container">

    <div class="listing-portfolio">
        <div class="listing-image">
    
        </div>
        <div class="listing-detail">
            <h2 class="list-description"></h2>
            <p class="list-price"></p>
        </div>
    </div>
    <div class="listing-portfolio">
        <div class="listing-image">
    
        </div>
        <div class="listing-detail">
            <h2 class="list-description"></h2>
            <p class="list-price"></p>
        </div>
    </div>
</div>
