<div class="listings-container">

    <div class="listing-portfolio">
        <span class="save-listing"></span>
        <div class="listing-image">
    
        </div>
        <div class="listing-detail">
            <h2 class="list-price">N1000000.00</h2>
            <p class="list-description"></p>
        </div>
    </div>
    <div class="listing-portfolio">
        <span class="save-listing"></span>
        <div class="listing-image">
    
        </div>
        <div class="listing-detail">
            <h2 class="list-price">N50000000.00</h2>
            <p class="list-description"></p>
        </div>
    </div>
</div>
