<div class="new-property">
    <div class="property-info">
        <h3 class="list-title">
            Exclusive properties on blank match your search criteria.
        </h3>
        <p class="list-body">
            Log in to blank to get the latest viewings and offers 
        </p>
    </div>

    <button class="new-listings-btn"> <a href="http://"> Log In</a></button>
</div>