<%- include('partials/header') %>

<section class="intro">
  <div class="intro-container">
    <h1 class="intro-text">Your dream rental is just few clicks away</h1>
    <div class="input-container">
      <div class="property-options">
        <select name="property" id="property">
          <option value="Buy">Buy</option>
          <option value="Sell">Sell</option>
          <option value="Rent">Rent</option>
        </select>
      </div>
      <div class="location-search-bar">
        <input
          class="location-filter"
          type="text"
          placeholder="Enter a state"
        />
      </div>

      <div class="search-bar">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</section>

<section class="listings"><%- include('partials/listings') %></section>

<section class="general-info">
  <div class="general-info-container">
    <div class="about-us">
      <h3>About us</h3>

      <a href="http://">About balank property</a>
      <a href="http://">Tenancy FAQs</a>
      <a href="http://">Employment opportunities</a>
      <a href="http://">Investors</a>
    </div>
    <div class="popular-searches">
      <h3>Popular searches</h3>

      <a href="http://">Abuja properties for sale</a>
      <a href="http://">Abuja lettings</a>
      <a href="http://">Short letting in Abuja</a>
      <a href="http://">Investors</a>
    </div>
    <div class="support">
      <h3>Support</h3>

      <a href="http://">COVID-19 Response</a>
      <a href="http://">Help center</a>
      <a href="http://">Trust and safety</a>
      <a href="http://">Community development</a>
    </div>
  </div>
</section>

<footer>
  <div class="social-media">
    <i class="fab fa-facebook fa-2x"></i>
    <i class="fab fa-instagram fa-2x"></i>
    <i class="fab fa-twitter fa-2x"></i>
  </div>
  <div class="policies">
    <a href="http://">Blank group ltd</a>
    <a href="http://">Terms and conditions</a>
    <a href="http://">Cookies policy</a>
  </div>
</footer>

<%- include('partials/footer') %>
