<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" href= "/css/main.css">
    <title>Document</title>
</head>
<body>
    <section class="register">
        
        <div class="register-container">
            <div class="close"> <a  class="close-icon" href="/">X</a> </div>
            <h1>LOG IN TO MY BLANKS</h1>
            <div class="log-in">
                <p>Don't have an account? <a href="/register">Sign for Blanks</a> </p>
            </div>
        <div class="oAuth">
            <div class="brand"><a href="">Sign up with facebook</a></div>
            <div class="brand-icon"> <i class="fab fa-facebook "></i></div>
        </div>
        <div class="oAuth">
            <div class="brand"><a href="">Sign up with Google</a></div>
            <div class="brand-icon"><i class="fab fa-google "></i></div>
        </div>
        <p class="seperator">Or</p>

        <form action="" method="post" class="sign-up-form">
            <!-- <label for="firstName">First name</label>
            <input type="text">
            <label for="lastName">Surname</label>
            <input type="text"> -->
            <label for="email">Email address</label>
            <input type="email" name="contact-email" id="">
            <label for="password">Password</label>
            <input type="password" name="contact-password" id="">

            <!-- <p class="policies"> By clicking  <span>Sign up for blanks</span>  below, I agree to <a href="">Blanks Privacy policy </a>,<a href="">Payment terms </a> and <a href="">Terms and Agreements </a>we use your data to personalise and improve your experience on our digital platforms.</p> -->
            
            <div class="sign-up-btn">
                <button type="submit">LOG IN</button>

                <a href="/password-reset">Forgot password? </a>
            </div>

          
        </form>
        </div>
        

        
    </section>
</body>
</html>