<%- include('partials/header') %> 

<section class="landlords">
    <div class="landlord-container">
      <h1 class="intro-text">Tight work and Parents schedules, Blank property managment is the option for you </h1>
      
       <div class="call-to-action">
         <p class="client-enquiry">
           New to Blanks ? Get started now by dailing 07036019747. 
         </p>
         <p class="existing-client">
          Already signed up ? <a href="/login">Log In</a>
         </p>
         <div class="client-register-btn">
           <button><a href="/register">Sign up</a></button>
         </div>
       </div>
  </section>

  <section class="management-benefits">
    <div class="benefits-card">
      <div class="benefit-image">
        <img src="../../images/jumborton.jpg" alt="around the clock service">
      </div>
      <div class="service-offered">
        <p class="service-title">24/7 Service</p>
        <p class="service-summary">At Blanks we are at your service around the clock, to ensure the utmost satisfaction</p>
      </div>
      <div class="service-detail">
        <p class="service-statement">We know how painsakingly difficult calls can be, worry not, our personnel wil do the talking for you.</p>
        <div class="client-register-btn">
          <button><a href="/register">Sign up</a></button>
        </div>
      </div>
    </div>
    <div class="benefits-card">
      <div class="benefit-image">
        <img src="../../images/jumborton.jpg" alt="around the clock service">
      </div>
      <div class="service-offered">
        <p class="service-title">24/7 Service</p>
        <p class="service-summary">At Blanks we are at your service around the clock, to ensure the utmost satisfaction</p>
      </div>
      <div class="service-detail">
        <p class="service-statement">We know how painsakingly difficult calls can be, worry not, our personnel wil do the talking for you.</p>
        <div class="client-register-btn">
          <button><a href="/register">Sign up</a></button>
        </div>
      </div>
    </div>
    <div class="benefits-card">
      <div class="benefit-image">
        <img src="../../images/jumborton.jpg" alt="around the clock service">
      </div>
      <div class="service-offered">
        <p class="service-title">Emergency repairs</p>
        <p class="service-summary">We are accessible 24 hours, so you don't have to be.</p>
      </div>
      <div class="service-detail">
        <p class="service-statement">Drainage leaks? clogged sinks? Not to worry, our ever reliable personnel are within reach at competitve prices, leaving you stress-free </p>
        <div class="client-register-btn">
          <button><a href="/register">Sign up</a></button>
        </div>
      </div>
    </div>
  </section>
  <div class="detailed-info">
    <div class="info-container">
      <h2>
        You probably guessed right, that's not all.
      </h2>
        <a href="">Find out more </a>
    </div>
    
  </div>
  <section class="landlords">
    <div class="landlord-container">
      <h2 class="client-testimonial">
        "Blanks are what they say they are, fast, reliable and efficient,our Wc was fixed shortly after reaching out. It reassuring when you have got reputable agents on the speed dial "
      </h2>

      <p class="client">Chukwu Eze Chibuike</p>
       </div>
  </section>

  <section class="letting-packages">
    <div class="package-container">
      <div class="package-header">
        <h2 class="package-title">Long Let</h2>
        <p class="package-fee"> 11% (14% incl VAT)</p>
        <a href="">Fees and terms</a>
      </div>
      <div class="package-body">
        <div class="package-options">
          <ul>
            <li>Tenants for 6months+</li>
            <li>For long-term secure income</li>
            <li>You manage tenants</li>
          </ul>
        </div>
    
        <div class="client-register-btn">
          <button><a href="/register">Get started</a></button>
        </div>
        <a href="">What's included ?</a>
      </div>
    </div>
    <div class="package-container">
      <div class="package-header">
        <h2 class="package-title">Managed Long Let</h2>
        <p class="package-fee"> 13% (17% incl VAT)</p>
        <a href="">Fees and terms</a>
      </div>
      <div class="package-body">
        <div class="package-options">
          <ul>
            <li>Tenants for 6months+</li>
            <li>No wahala  landlord</li>
            <li>Fully Managed 24/7</li>
          </ul>
        </div>
    
        <div class="client-register-btn">
          <button><a href="/register">Get started</a></button>
        </div>
        <a href="">What's included ?</a>
      </div>
    </div>
  </section>
  <section class="general-info">

    <div class="general-info-container">
        <div class="about-us">
          <h3>Our services</h3>
        
          <a href="">Find tenants</a>
          <a href="">Property maintenance </a>
        </div>
        <div class="popular-searches">
          <h3>Landlord advice</h3>
    
          <a href="http://">Help and Guides</a>
          <a href="http://">Licensing</a>
          <a href="http://">Compliance</a>
          <a href="http://">Right to rent</a>
        </div>
        <div class="support">
          <h3>Tenancy Guide</h3>
    
          <a href="http://">Right of tenant</a>
          <a href="http://">Tenant support</a>
          <a href="http://">Fees and Terms</a>
          <a href="http://">Merits of Blanks</a>
        </div>
      </div>
</section>

<%- include('partials/footer') %>
