*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  display: block;
}

input,
textarea,
select {
  outline: none;
  border: none;
}

button {
  border: none;
  outline: none;
}

input {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.navbar {
  width: 100%;
  background-color: #1938AB;
  min-height: 10vh;
}
.navbar .navbar-container {
  width: 80%;
  margin: 0 auto;
}
.navbar .navbar-container .navbar-items .navbar-item {
  display: none;
  text-align: center;
}
.navbar .navbar-container .navbar-items.open .navbar-item {
  display: block;
  padding: 0.25em;
}
.navbar .navbar-container .navbar-items.open .navbar-item .navbar-link {
  color: #FFFADE;
}
.navbar .navbar-container .toggle-menu {
  position: absolute;
  width: 30px;
  top: 2em;
  right: 0.5em;
  display: block;
}
.navbar .navbar-container .toggle-menu .bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ffeb78;
  transition: all 300ms ease-in-out;
}
.navbar .navbar-container .toggle-menu .bar::after, .navbar .navbar-container .toggle-menu .bar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffeb78;
  border-radius: 5px;
}
.navbar .navbar-container .toggle-menu .bar::before {
  transform: translateY(-10px);
}
.navbar .navbar-container .toggle-menu .bar::after {
  transform: translateY(10px);
}
.navbar .navbar-container .toggle-menu.active .bar {
  transform: translateX(-50px);
  background: transparent;
}
.navbar .navbar-container .toggle-menu.active .bar::before {
  transform: rotate(45deg) translate(25px, -25px);
}
.navbar .navbar-container .toggle-menu.active .bar::after {
  transform: rotate(-45deg) translate(25px, 25px);
}

.intro {
  min-height: 80vh;
  background: url(../../images/jumborton.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro .intro-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 1.5em;
}
.intro .intro-container .intro-text {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  padding: 0.5em;
  margin-bottom: 1em;
}
.intro .intro-container .input-container {
  display: flex;
  background-color: #fff;
  padding: 0.5em 0.2em;
  border: 1px solid #FFFADE;
  border-radius: 10px;
}
.intro .intro-container .input-container .property-options {
  background-color: #6BBAA3;
  border-radius: 5px;
}
.intro .intro-container .input-container .property-options select {
  background-color: inherit;
  color: #fff;
}
.intro .intro-container .input-container .location-search-bar {
  margin-left: 0.2em;
}
.intro .intro-container .input-container .location-search-bar .location-filter {
  font-size: 1.5rem;
}
.intro .intro-container .input-container .search-bar {
  margin-left: auto;
}
.intro .intro-container .input-container .search-bar i {
  font-size: 1.5rem;
  color: #6BBAA3;
}

.listings {
  min-height: 100vh;
  background: #ACA5DB;
}

.listings-container {
  width: 80%;
  margin: 0 auto;
}
.listings-container .listing-portfolio {
  width: 350px;
  height: 350px;
  border: 1px solid #444;
  margin: 1em auto;
}
.listings-container .listing-portfolio .listing-image {
  width: 100%;
  min-height: 250px;
  border: 1px solid #444;
}
.listings-container .listing-portfolio .listing-detail .list-description {
  font-size: 1.5rem;
}
.listings-container .listing-portfolio .listing-detail .list-price {
  font-size: 1rem;
}

.new-property {
  width: 80%;
  margin: 0 auto;
  background-color: #6BBAA3;
}
.new-property .property-info {
  margin-bottom: 1em;
  padding: 0.5em 0.75em;
}
.new-property .property-info .list-title {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #1938AB;
  margin-bottom: 1em;
}
.new-property .property-info .list-body {
  width: 60%;
  margin: 0 auto;
  line-height: 1.3;
  color: #FFFADE;
}
.new-property .new-listings-btn {
  width: 50%;
  position: relative;
  left: 25%;
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  background: #1938AB;
  border-radius: 5px;
  text-align: center;
}
.new-property .new-listings-btn a {
  color: #FFFADE;
}

.buy, .sell, .rental {
  background: white;
  padding-top: 1.5em;
}
.buy .property-search, .sell .property-search, .rental .property-search {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  background: #fff;
  border: 1px solid #FFFADE;
  border-radius: 10em;
}
.buy .property-search input, .sell .property-search input, .rental .property-search input {
  font-size: 1.5rem;
}
.buy .property-filter, .sell .property-filter, .rental .property-filter {
  cursor: pointer;
}
.buy .property-filter .filter-menu, .sell .property-filter .filter-menu, .rental .property-filter .filter-menu {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}
.buy .property-filter .filter-menu .filter-container, .sell .property-filter .filter-menu .filter-container, .rental .property-filter .filter-menu .filter-container {
  width: 50%;
}
.buy .property-filter .filter-menu .filter-container .dropdown-container, .sell .property-filter .filter-menu .filter-container .dropdown-container, .rental .property-filter .filter-menu .filter-container .dropdown-container {
  display: flex;
  justify-content: space-between;
  background: #6BBAA3;
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  color: #FFFADE;
}
.buy .property-filter .filter-menu .filter-container .filter-options, .sell .property-filter .filter-menu .filter-container .filter-options, .rental .property-filter .filter-menu .filter-container .filter-options {
  display: none;
}
.buy .property-filter .filter-menu .filter-container .filter-options .custom-label, .sell .property-filter .filter-menu .filter-container .filter-options .custom-label, .rental .property-filter .filter-menu .filter-container .filter-options .custom-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ACA5DB;
}
.buy .property-filter .filter-menu .filter-container .filter-options .custom-select, .sell .property-filter .filter-menu .filter-container .filter-options .custom-select, .rental .property-filter .filter-menu .filter-container .filter-options .custom-select {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.buy .property-filter .filter-menu .filter-container .filter-options .custom-select::-ms-expand, .sell .property-filter .filter-menu .filter-container .filter-options .custom-select::-ms-expand, .rental .property-filter .filter-menu .filter-container .filter-options .custom-select::-ms-expand {
  display: none;
}
.buy .property-filter .filter-menu .filter-container .filter-options .custom-select:hover, .sell .property-filter .filter-menu .filter-container .filter-options .custom-select:hover, .rental .property-filter .filter-menu .filter-container .filter-options .custom-select:hover {
  border-color: #888;
}
.buy .property-filter .filter-menu .filter-container .filter-options .custom-select:focus, .sell .property-filter .filter-menu .filter-container .filter-options .custom-select:focus, .rental .property-filter .filter-menu .filter-container .filter-options .custom-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.buy .property-filter .filter-menu .filter-container .filter-options .custom-select option, .sell .property-filter .filter-menu .filter-container .filter-options .custom-select option, .rental .property-filter .filter-menu .filter-container .filter-options .custom-select option {
  font-weight: 400;
}
.buy .property-filter .filter-menu .filter-container .filter-options .update-filter, .sell .property-filter .filter-menu .filter-container .filter-options .update-filter, .rental .property-filter .filter-menu .filter-container .filter-options .update-filter {
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  background-color: #6BBAA3;
  border-radius: 0.5em;
  color: #FFFADE;
}
.buy .property-filter .filter-menu .filter-container .filter-options.show, .sell .property-filter .filter-menu .filter-container .filter-options.show, .rental .property-filter .filter-menu .filter-container .filter-options.show {
  display: block;
}
.buy .property-filter .filter-menu .sort-container, .sell .property-filter .filter-menu .sort-container, .rental .property-filter .filter-menu .sort-container {
  width: 50%;
}
.buy .property-filter .filter-menu .sort-container .dropdown-container, .sell .property-filter .filter-menu .sort-container .dropdown-container, .rental .property-filter .filter-menu .sort-container .dropdown-container {
  display: flex;
  justify-content: space-between;
  background: #6BBAA3;
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  color: #FFFADE;
}
.buy .property-filter .filter-menu .sort-container .sorting-options, .sell .property-filter .filter-menu .sort-container .sorting-options, .rental .property-filter .filter-menu .sort-container .sorting-options {
  display: none;
}
.buy .property-filter .filter-menu .sort-container .sorting-options .custom-select, .sell .property-filter .filter-menu .sort-container .sorting-options .custom-select, .rental .property-filter .filter-menu .sort-container .sorting-options .custom-select {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.buy .property-filter .filter-menu .sort-container .sorting-options .custom-select::-ms-expand, .sell .property-filter .filter-menu .sort-container .sorting-options .custom-select::-ms-expand, .rental .property-filter .filter-menu .sort-container .sorting-options .custom-select::-ms-expand {
  display: none;
}
.buy .property-filter .filter-menu .sort-container .sorting-options .custom-select:hover, .sell .property-filter .filter-menu .sort-container .sorting-options .custom-select:hover, .rental .property-filter .filter-menu .sort-container .sorting-options .custom-select:hover {
  border-color: #888;
}
.buy .property-filter .filter-menu .sort-container .sorting-options .custom-select:focus, .sell .property-filter .filter-menu .sort-container .sorting-options .custom-select:focus, .rental .property-filter .filter-menu .sort-container .sorting-options .custom-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.buy .property-filter .filter-menu .sort-container .sorting-options .custom-select option, .sell .property-filter .filter-menu .sort-container .sorting-options .custom-select option, .rental .property-filter .filter-menu .sort-container .sorting-options .custom-select option {
  font-weight: 400;
}
.buy .property-filter .filter-menu .sort-container .sorting-options.show, .sell .property-filter .filter-menu .sort-container .sorting-options.show, .rental .property-filter .filter-menu .sort-container .sorting-options.show {
  display: block;
}

.general-info {
  background: #FFFADE;
}
.general-info .general-info-container {
  width: 80%;
  margin: 0 auto;
  color: #6BBAA3;
}
.general-info .general-info-container .about-us, .general-info .general-info-container .popular-searches, .general-info .general-info-container .support {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ACA5DB;
}
.general-info .general-info-container .about-us h3, .general-info .general-info-container .popular-searches h3, .general-info .general-info-container .support h3 {
  font-size: 1.5rem;
  padding: 0.5em;
}
.general-info .general-info-container .about-us a, .general-info .general-info-container .popular-searches a, .general-info .general-info-container .support a {
  padding: 0.5em;
  color: #ACA5DB;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background: #6BBAA3;
  color: #1938AB;
}
footer i {
  padding: 0.25em;
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1.5rem;
  color: #ACA5DB;
  padding: 0.5em;
}
.radio:focus-within .radio__label {
  transform: scale(1.05);
  opacity: 1;
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;
}
.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio__input input:focus + .radio__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.radio-before .radio__control {
  display: grid;
  place-items: center;
}
.radio-before input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}
.radio-before input:checked + .radio__control::before {
  transform: scale(1);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
}

/*# sourceMappingURL=main.css.map */
