@use "../base" as base;


// this sections pertains to the about section

.general-info {
    
    background: base.$tertiary-color;
    .general-info-container {
     width: 80%;
     margin: 0 auto;
     color: base.$subtle-color; 
       .about-us, .popular-searches, .support {
           display: flex;
           flex-direction: column;
           border-bottom: 1px solid base.$secondary-color;

           h3 {
               font-size: base.$medium-text;
               padding: 0.5em;
           }
           

           a {
              padding: 0.5em;
              color: base.$secondary-color;
           }
       }

       @include base.rwd(tablet) {
           display: flex;
           justify-content: space-between;
           padding: 1em 0;

           .about-us, .popular-searches, .support {
                width: 33.33%;
               border-bottom: none;
                h3 {
                    font-size: base.$large-text;
                }

           }
       }
    }
}