@use '../base/variables' as base;

.listings {
  min-height: 100vh;
  background: base.$secondary-color;

 
}

.listings-container {
    width: 80%;
    margin: 0 auto;
    
    .listing-portfolio {
      width: 350px;
      height: 350px;
      border: 1px solid #444;
      margin: 1em auto;

      .listing-image {
        width: 100%;
      }

      .listing-detail {
        .list-description {
          font-size: base.$medium-text;
        }

        .list-price {
          font-size: base.$base-text;
        }
      }
    }
  }
