@use 'variables' as base;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: base.$body-font-stack;
}

// i {
//   font-family: 'FontAwesome';
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: base.$header-font-stack;
}

 
  
  

  img {
    width: 100%;
    display: block;
  } 

  input,
  textarea,
  select {
    outline: none;
    border: none;
    // width: 100%;
  }

  button {
    border: none;
    outline: none;
  }

  input {
      width: 100%;
  }

  a {
    text-decoration: none;
  }

  a:hover {
      cursor: pointer;
  }


  li {
      list-style-type: none;
  }