// colors


$primary-color:#1938AB;
$secondary-color:#ACA5DB;
$tertiary-color:#FFFADE;
$subtle-color:#6BBAA3;
$supplementary-color:#e6dd3b;

// typography
    //font-family
$header-font-stack: 'Montserrat', sans-serif;
$body-font-stack:  'Source Sans Pro', sans-serif;

//font-size
$small-text: 0.8rem;
$base-text: 1rem;
$medium-text: 1.5rem;
$large-text:2rem;
$xlarge-text:3rem;

//font weight
$regular-text:400;
$bold-text:600;
$extra-bold-text:800;

// line-height
$lh-small:0.8;
$lh-medium:1;
$lh-large:1.3;
$lh-xlarge:1.6;